<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section>
    <label htmlFor="name">Name</label>
    <input pInputText id="name" formControlName="name" />

    <label htmlFor="description">Description</label>
    <input pInputText id="description" formControlName="description" />
  </section>

  <section formArrayName="criterias">
    <div
      *ngFor="let c of criterias.controls; let i = index"
      [formGroupName]="i"
    >
      <div>
        <label [htmlFor]="'question_' + i">Question #{{ i + 1 }}</label>
        <input
          pInputText
          [id]="'question_' + i"
          [formControlName]="'question'"
        />

        <label [htmlFor]="'weight_' + i">Weight #{{ i + 1 }}</label>
        <input pInputText [id]="'weight_' + i" [formControlName]="'weight'" />
      </div>
      <p-button label="Add answer" (onClick)="addAnswer(i)"></p-button>
    </div>
  </section>

  <p-button label="Add criteria" (onClick)="addCriteria()"></p-button>
  <p-button type="submit" label="save"></p-button>
</form>
