<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section>
    <label htmlFor="name">Name</label>
    <input pInputText id="name" formControlName="name" />

    <label htmlFor="description">Description</label>
    <input pInputText id="description" formControlName="description" />
  </section>

  <section formArrayName="criterias">
    <div
      *ngFor="let c of criterias.controls; let i = index"
      [formGroupName]="i"
    >
      <div>
        <label [htmlFor]="'question_' + i">Question #{{ i + 1 }}</label>
        <input
          pInputText
          [id]="'question_' + i"
          [formControlName]="'question'"
        />

        <label [htmlFor]="'weight_' + i">Weight #{{ i + 1 }}</label>
        <input
          pInputText
          type="number"
          max="1"
          step="0.1"
          [id]="'weight_' + i"
          [formControlName]="'weight'"
        />
      </div>
      <ng-container *ngIf="criteriaAnswers(i).controls?.length">
        <div
          *ngFor="let a of criteriaAnswers(i).controls; let j = index"
          [formGroupName]="'answer' + j"
        >
          <div>
            <label [htmlFor]="'text_' + j">Text #{{ j + 1 }}</label>
            <input pInputText [id]="'text_' + j" [formControlName]="'text'" />

            <label [htmlFor]="'score_' + j">Score #{{ j + 1 }}</label>
            <input
              pInputText
              type="number"
              max="1"
              step="0.1"
              [id]="'score_' + j"
              [formControlName]="'score'"
            />
          </div>
        </div>
      </ng-container>

      <p-button label="Add answer" (onClick)="addAnswer(i)"></p-button>
    </div>
  </section>

  <p-button label="Add criteria" (onClick)="addCriteria()"></p-button>
  <p-button type="submit" label="save"></p-button>
</form>
