:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 48px;

  .new-test-btn {
    position: absolute;
    right: 48px;
  }

  .tests-list {
    width: 33%;

    ::ng-deep .p-listbox {
      width: 100% !important;
    }
  }
}
