<p-button
  class="new-test-btn"
  label="Define new test"
  (onClick)="onDefineNewTestClick()"
></p-button>

<p-listbox
  class="tests-list"
  [options]="tests"
  [(ngModel)]="selectedTest"
  optionLabel="name"
  (onClick)="onItemClick($event)"
  [style]="{ width: '15rem' }"
  [listStyle]="{ 'max-height': '220px' }"
  [filter]="true"
></p-listbox>

<div class="card flex justify-content-center">
  <p-dialog
    header="Header"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
  >
    <div class="card flex justify-content-center">
      <p-tree class="w-full md:w-30rem" [value]="treeNodes"></p-tree>
    </div>
  </p-dialog>
</div>
