<div *ngFor="let c of criterias.controls; let i = index" [formGroupName]="i">
  <div>
    <label [htmlFor]="'question_' + i">Question #{{ i + 1 }}</label>
    <input pInputText [id]="'question_' + i" [formControlName]="'question'" />

    <label [htmlFor]="'weight_' + i">Weight #{{ i + 1 }}</label>
    <input
      pInputText
      type="number"
      max="1"
      step="0.1"
      [id]="'weight_' + i"
      [formControlName]="'weight'"
    />
  </div>
  <app-answers-form-part [answers]="criteriaAnswers(i)"></app-answers-form-part>

  <!-- <p-button label="Add answer" (onClick)="addAnswer(i)"></p-button> -->
</div>
