<p-button
  class="new-test-btn"
  label="Start new test"
  (onClick)="onNewTestClick()"
></p-button>

<p-listbox
  class="tests-list"
  [options]="testsResults"
  [(ngModel)]="selectedTestResult"
  optionLabel="companyName"
  (onClick)="onItemClick($event)"
  [style]="{ width: '15rem' }"
  [listStyle]="{ 'max-height': '220px' }"
  [filter]="true"
>
  <ng-template let-testResult pTemplate="item">
    <div class="flex align-items-center gap-2">
      <div>{{ testResult.companyName }}</div>
      <p-tag
        [severity]="testResult?.scoreSeverity"
        [value]="testResult?.finalScore"
      ></p-tag>
    </div>
  </ng-template>
</p-listbox>
